<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated evolution -->
      <package
            uri="http://example.com/orchestration"
            class="orchestration.OrchestrationPackage"
            genModel="model/evolution.genmodel"/>
   </extension>

</plugin>
